/* .main-row{
    height: 100vh;
}
.main-col{
    max-width: 500px;
    min-height: 300px;
}
.todo-done{
    text-decoration: line-through;
} */

.container {
    
    display: flex;
    justify-content: center;
    }

    h1 {
        color: #27aedb;
        text-align: center;
        }
        .form-control{
            size: 400px;
        }

        button{
            color: #27aedb;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            font-size: large;
        }
            